<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>387201332528-0173vjkf78ka6qj5sa4au5ak2o26ht5i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387201332528-0173vjkf78ka6qj5sa4au5ak2o26ht5i</string>
	<key>API_KEY</key>
	<string>AIzaSyAoPuT6wXuaHLNUMF4kmY4HrEcuUy_M7wI</string>
	<key>GCM_SENDER_ID</key>
	<string>387201332528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sdu.edu.kz.Twitter7</string>
	<key>PROJECT_ID</key>
	<string>twitter7-4a1a4</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter7-4a1a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:387201332528:ios:2368e67142020bd6</string>
	<key>DATABASE_URL</key>
	<string>https://twitter7-4a1a4.firebaseio.com</string>
</dict>
</plist>